
.destacado-primario {
     color: #005677;
     background-color: #C4C4C4;
     font-family: 'Times New Roman', Times, serif;
     font-style: normal;
     font-size: 35px;
     word-spacing: 5mm;
}

.destacado-secundario {
     color: #005677;
     background-color: #C4C4C4;
     font-family: 'Times New Roman', Times, serif;
     font-style: normal;
     font-size: 20px;
}

#lista1 {
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
     font-size: 15px;
     font-family: 'Times New Roman', Times, serif;
     font-style: normal;
     font-size: 15px;
}

.destacado-terciario {
     color: #fff;
     background-color: #005677;
     font-family: 'Times New Roman', Times, serif;
     font-style: normal;
     font-size: 20px;
} 