* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.inicio {
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-direction: row;
    height: 20px;
    width: 100%;
}

.ofertas {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-left: 100px;
    color: white;
}

.pais {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-right: 70px;
    color: white;
    
}

.menuLogo {
    background-color: #F0A83E;
    height: 62px;
}

.logo {
    margin-top: 20px;
    margin-left: 40px;
    
}

.menu { 
    margin-bottom: 5px;
    margin-left: 1300px;
}

.banner {
    background-image: url(../images/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.title {
    position: absolute;
    background-color: white;
    font-size: 30px;
    padding: 15px;
    top: 300px;
    left: 1250px;
   }

.title2 {
    position: absolute;
    font-size: 16px;
    top: 380px;
    left: 1340px;
}
